.card-item{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 50vh;
    justify-content: space-around;
    border: 2px solid rgb(209, 209, 209);
    padding: 1rem;
    /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
    border-radius: 12px;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
    
}

.card-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: -9;
}

.card-item:hover::before{
    transform: scale(1);
}

.card-item:hover{
    transform: scale(1.09);
    transition: all 0.5s;
}

.thumbnail{

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

}

.thumbnail img {
    border-radius: 12px;
    max-width: 70%;
    max-height: 70%px;
}

.title-category{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-title{
    font-size: larger;
    font-weight: bold;
    width: 50%;
}

.product-category{
    color: black;
    font-size: large;
    font-weight: bold;
}

.price{
    font-weight: bold;
}

.addCart{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.addToCart{
    box-sizing: border-box;
    background-color: #e84949;
    font-size: 18px;
    padding: 0.8rem 1.3rem;
    color: white;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
    width: fit-content;
    cursor: pointer;
    border: solid 3px transparent;
}

.addToCart::before{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color:#fff;
    z-index: -1;
    font-weight: 400;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.8s;

}

.addToCart:hover::before{
    transform: scaleX(1);

}
.addToCart:hover{
    color: black;
}

@media screen and (max-width:450px) {

    .addToCart{
        font-size: 15px;
        padding: 0.5rem 0.8rem;

    }
    
}

@media screen and (max-width:350px) {

    .addToCart{
        font-size: 15px;
        padding: 0.2rem 0.4rem;

    }
    
}